@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="pagetable">
    <tr>
        <td class="title">
            <span style="color: Red;">*</span>名称：
        </td>
        <td>
            <input type="text" id="test1" />
        </td>
    </tr>
    <tr>
        <td class="title">
            <span style="color: Red;">*</span>地址：
        </td>
        <td>
            <input type="text" id="test1" />
        </td>
    </tr>
    <tr>
        <td class="title">
            <span style="color: Red;">*</span>图标：
        </td>
        <td>
            <input type="text" id="test1" />
        </td>
    </tr>
    <tr>
        <td class="title">
            <span style="color: Red;">*</span>门店：
        </td>
        <td>
            <select class="form-control select2">
                <option></option>
                <option>中国</option>
                <option>日本</option>
                <option>美国</option>
                <option>韩国</option>
                <option>英国</option>
                <option>马来西亚</option>
                <option>新加坡</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="title"></td>
        <td>
            <a id="btnSearch" class="btn btn-primary">确定</a>
        </td>
    </tr>
</table>




