@{
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
}

@*<div class="box-body">

    <!-- /.box-header -->
    <div class="box-header">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>用户：</label>
                    <input type="text" id="test1" />
                </div>
                <div class="form-group">
                    <label>姓名：</label>
                    <input type="text" id="test1" />
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <div class="form-group">
                    <label>性别：</label>
                    <input type="text" id="test1" />
                </div>
                <div class="form-group">
                    <label>账号：</label>
                    <input type="text" id="test1" />
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a id="btnSearch" class="btn btn-primary">确定</a>
    </div>
</div>*@

<table class="pagetable">
    <tr>
        <td class="title">
            <span style="color: Red;">*</span>调整类型：
        </td>
        <td>
            <input type="text" id="test1" />
        </td>
    </tr>
    <tr>
        <td class="title">
            <span style="color: Red;">*</span>调整类型：
        </td>
        <td>
            <input type="text" id="test1" />
        </td>
    </tr>
    <tr>
        <td class="title">
            <span style="color: Red;">*</span>调整类型：
        </td>
        <td>
            <input type="text" id="test1" />
        </td>
    </tr>
    <tr>
        <td class="title">
            <span style="color: Red;">*</span>门店：
        </td>
        <td>
            <select class="form-control select2">
                <option></option>
                <option>中国</option>
                <option>日本</option>
                <option>美国</option>
                <option>韩国</option>
                <option>英国</option>
                <option>马来西亚</option>
                <option>新加坡</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="title"></td>
        <td>
            <a id="btnSearch" class="btn btn-primary">确定</a>
        </td>
    </tr>
</table>


